<!DOCTYPE html>
<html>
<head>
    <title>Create Customer</title>
</head>
<body>
    <h1>Create Customer</h1>
    <form method="post" action="/customers/create">
        @*du ska gå till samma sida som du kom ifrån*@
        <label>Company name</label>
        <br />
        <input type="text" name="CompanyName" />
        <br />
        <label>City</label>
        <br />
        <input type="text" name="City" />
        <input type="submit" value="Submit!" />
    </form>
</body>
</html>